.features {
    &__container {
        padding: 40px 0;
        background-repeat: no-repeat;
        background-position: left;
        background-size: contain;
        display: flex;
        justify-content: flex-end;

        @include mq('tablet-2') {
            background-size: cover;
        }

        @include mq('tablet') {
            box-shadow: inset 0 0 0 1500px rgba($white, 0.85);
        }
    }

    &__inner {
        max-width: 720px;
        background-color: $white;
        border-radius: 30px 0 0 30px;
        padding: 50px 60px;
        
        @include mq('tablet-2') {
            background-color: transparent;
            box-shadow: inset 0 0 0 1500px rgba($white, 0.8);
        }
        
        @include mq('tablet') {
            background-color: transparent;
            box-shadow: none;
            padding: 30px 30px;
        }
        
        @include mq('phone') {
            padding: 10px 30px;
        }

        @include mq('phone-2') {
            padding: 10px;
        }
    }

    &__caption {
        margin-bottom: 30px;
    }

    &__list {
        line-height: 1.7;
    }

    &__item {
        margin-bottom: 10px;
    }

    &__title {
        @extend %title-font;
        font-size: 24px;
        margin-bottom: 5px;

        @include mq('tablet') {
            font-size: 20px;
            margin-bottom: 0;
        }
    }
}