.news {
    padding: 120px 0 100px;

    @include mq('desktop') {
        padding: 100px 0 100px;
    }

    @include mq('tablet-2') {
        padding: 80px 0 80px;
    }

    @include mq('phone') {
        padding: 50px 0 50px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 100px;

        @include mq('tablet') {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 50px;
        }

        @include mq('phone') {
            margin-bottom: 30px;
        }
    }

    &__caption {
        margin-right: 20px;

        @include mq('tablet') {
            margin-bottom: 20px;
        }
    }

    &__list {
        display: flex;

        @include mq('phone') {
            flex-wrap: wrap;
        }
    }

    &__item {
        position: relative;
        max-width: 670;
        width: 100%;
        height: 515px;
        border-radius: 30px;
        background-size: cover;
        background-position: center;

        @include mq('tablet-2') {
            height: 355px;
        }

        @include mq('tablet') {
            height: 100%;
        }

        &:not(:last-child) {
            margin-right: 30px;
            
            @include mq('tablet') {
                margin-right: 10px;
            }

            @include mq('phone') {
               margin-right: 0;
               margin-bottom: 10px;
            }
        }
    }
}

.blog {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    left: 50%;
    bottom: -50px;
    transform: translateX(-50%);
    font-family: 'Roboto', sans-serif;
    color: $primary;
    line-height: 1.7;
    max-width: 610px;
    width: 100%;
    border-radius: 30px;
    background-color: $white;
    padding: 30px 50px;
    transition: box-shadow .3s;
    box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.14);

    @include mq('tablet-2') {
        padding: 20px 30px;
    }

    @include mq('tablet') {
        position: relative;
        bottom: 0;
        background-color: transparent;
        box-shadow: inset 0 0 0 1500px rgba($white, 0.85);
        padding: 15px;
    }

    &:focus {
        outline: 2px solid $accent;
    }

    &:hover {
        box-shadow: 0px 2px 18px rgba($accent, .5);

        .blog__more {
            transition: color .3s;
            color: $accent;

            &::before {
                background-color: $accent;
            }

            &::after {
                background-color: $white;
            }
        }
    }

    &__author {
        position: relative;
        font-size: 16px;
        padding-left: 28px;
        margin-bottom: 10px;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background-image: url('../images/sprite.svg#user-icon');
            width: 18px;
            height: 20px;
            background-repeat: no-repeat;
        }
    }

    &__title {
        @extend %title-font;
        font-size: 24px;
        margin-bottom: 35px;
        @include line-clamp(2);
        
        @include mq('tablet-2') {
            font-size: 20px;
            margin-bottom: 10px;
        }
    }

    &__blockquote {
        max-width: 440px;
        font-family: 'Open Sans', sans-serif;
        color: $secondary;
        margin-bottom: 10px;
    }

    &__more {
        position: relative;
        padding-right: 29px;
        transition: color .4s;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            transition: background-color .3s;
        }

        &::before {
            width: 19px;
            height: 19px;
            right: 0;
            background-color: $darkBlue;
            border-radius: 50%;
        }

        &::after {
            width: 10px;
            height: 9px;
            right: 5px;
            mask-image: url('../../images/sprite.svg#arrow-icon');
            background-color: $white;
        }
    }
}