.offer {
    padding: 120px 0 140px;
    background-color: $primary;

    @include mq('desktop') {
        padding: 100px 0 70px;
    }

    @include mq('tablet-2') {
        padding: 50px 0 70px;
    }

    @include mq('phone') {
        padding: 30px 0 50px;
    }

    &__container {
        padding: 0;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 45px;

        @include mq('tablet') {
            flex-wrap: wrap;
        }
    }

    &__caption {
        color: white;

        @include mq('tablet') {
            margin: 0 20px 20px 0;
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 0 10px;
        grid-gap: 20px;
        
        @include mq('desktop') {
            grid-template-columns: repeat(3, minmax(250px, 380px));
        }
        
        @include mq('tablet-2') {
            grid-gap: 10px;
            grid-template-columns: repeat(3, minmax(220px, 380px));
        }
        
        @include mq('tablet') {
            grid-template-columns: repeat(3, 250px);
            overflow-x: auto;
            padding: 20px 10px;
        }
    }
}

.product-card {
    &--offer {
        border-radius: 30px;
        border: none;
    }

    &__img{
        &--offer {
            @include mq('tablet-2') {
                max-height: 200px;
            }
        }
    }
}