<section class="features">
    <div class="container features__container" style="background-image:url('images/features/features-bg.jpg')">
            <div class="features__inner">
                <h2 class="sr-only">Our features</h2>
                <span class="title">Eco Friendly</span>
                <p class="caption features__caption">From our Farm to your Home.</p>
                <ul class="features__list">
                    <li class="features__item">
                        <h3 class="features__title">
                            Choose Your Products
                        </h3>
                        <p>
                            In our listing, we have several collections of organic products. This is the place where you
                            need to choose the product you want.
                        </p>
                    </li>
                    <li class="features__item">
                        <h3 class="features__title">
                            Farmers will produce it
                        </h3>
                        <p>
                            The Product that you ordered will be verified that we have or not if have we will start to move on with the next step.
                        </p>
                    </li>
                    <li class="features__item">
                        <h3 class="features__title">
                            We Can Delivery too
                        </h3>
                        <p>
                            If you are not comfortable going to the nearby market place we also will deliver your product to your doorstep.
                        </p>
                    </li>
                </ul>
        </div>
    </div>
</section>