<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="contacts">
                <h2 class="contacts__caption">Contact Us</h2>

                <address class="contacts__address">
                    <ul class="contacts__list">
                        <li class="contacts__item">
                            <h3 class="contacts__title">
                                Email
                            </h3>
                            <a class="link contacts__link" href="mailto:needhelp@organick.com">
                                needhelp@organick.com
                            </a>
                        </li>
                        <li class="contacts__item">
                            <h3 class="contacts__title">
                                Phone
                            </h3>
                            <a class="link contacts__link" href="tel:+12312541452">
                                123 (1254) 1452
                            </a>
                        </li>
                        <li class="contacts__item">
                            <h3 class="contacts__title">
                                Address
                            </h3>
                            <span class="contacts__span">
                                88 Road, Brooklyn Street, USA
                            </span>
                        </li>
                    </ul>
                </address>

            </div>

            <div class="footer__inner">
                <a class="link logo footer__logo" href="#">
                    <img class="logo__img" src="images/logo.svg" width="200" height="56" alt="Logo image">
                </a>

                <p class="footer__text">
                    We are a popular and farming company aspiring to be a leader in the Organic food industry.
                </p>

                <ul class="social">
                    <li class="social__item">
                        <a class="link social__link" href="#">
                            <span class="social__icon"
                                style="-webkit-mask-image: url(images/sprite.svg#facebook)"></span>
                            <span class="sr-only">Go in facebook</span>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="link social__link" href="#">
                            <span class="social__icon" style="-webkit-mask-image: url(images/sprite.svg#twitter)"
                                href="#"></span>
                            <span class="sr-only">Go in twitter</span>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="link social__link" href="#">
                            <span class="social__icon"
                                style="-webkit-mask-image: url(images/sprite.svg#instagram)"></span>
                            <span class="sr-only">Go in instagram</span>
                        </a>
                    </li>
                    <li class="social__item">
                        <a class="link social__link" href="#">
                            <span class="social__icon"
                                style="-webkit-mask-image: url(images/sprite.svg#pinterest)"></span>
                            <span class="sr-only">Go in pinterest</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="footer__nav">
                <h2 class="footer__title">
                    Utility Pages
                </h2>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a class="link footer__link" href="#">
                            Style Guide
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="link footer__link" href="#">
                            Protected
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="link footer__link" href="#">
                            Page Not Found
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="link footer__link" href="#">
                            Changelog
                        </a>
                    </li>
                    <li class="footer__item">
                        <a class="link footer__link" href="#">
                            Licenses
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <span class="footer__rights">Copyright &copy; Organick | Designed by VictorFlow - Powered by Webflow</span>
    </div>
</footer>