<section class="news">
    <div class="container">
        <h2 class="title">News</h2>
        <div class="news__container">
            <p class="caption">Discover the recent content about organic products</p>
            <a class="more-link more-link--light" href="#">More News</a>
        </div>
        <ul class="news__list">
            <li class="news__item" style="background-image:url('images/news/left-bg.jpg')">
                <a class="blog" href="#">
                    <span class="blog__author">Kristina Castle</span>
                    <h3 class="blog__title">Everything You Need to Know About Organic</h3>
                    <blockquote class="blog__blockquote">
                        Organic farming is the only way that you still can
                        experience the real world.
                    </blockquote>
                    <span class="blog__more">View More</span>
                </a>
            </li>
            <li class="news__item" style="background-image:url('images/news/right-bg.jpg')">
                <a class="blog" href="#">
                    <span class="blog__author">Alex Louis</span>
                    <h3 class="blog__title">Organic Fruits: Surprising Benefits and Facts</h3>
                    <blockquote class="blog__blockquote">
                        The world of nature has grown on the principles of health,
                        ecology, and care.
                    </blockquote>
                    <span class="blog__more">View More</span>
                </a>
            </li>
        </ul>
    </div>
</section>