<section class="offer">
    <div class="container">
        <h2 class="title">Offer Products</h2>
        <div class="offer__top">
            <p class="caption offer__caption">We Offer Organic for You</p>
            <a class="more-link more-link--light" href="#">View All products</a>
        </div>
    </div>
    <div class="container offer__container">
        <div class="offer__wrapper">
            <article class="product-card product-card--offer">
                <a class="product-card__link" href="#">
                    <span class="product-card__category">
                        Vegetable
                    </span>
                    <img class="product-card__img product-card__img--offer" src="images/products/tomato.jpg" width="378"
                        height="387" alt="Broccoli image">
                    <h3 class="product-card__title">Vegan Red Tomato</h3>
                    <div class="product-card__container">
                        <div class="product-card__price-box product-card__price-box--offer">
                            <span class="product-card__price product-card__price--disabled">$ 14.00 USD</span>
                            <span class="product-card__price product-card__price">$ 9.37 USD</span>
                        </div>
                        <div class="product-card__rating" data-rateyo-rating="5"></div>
                    </div>
                </a>
            </article>
            <article class="product-card product-card--offer">
                <a class="product-card__link" href="#">
                    <span class="product-card__category">
                        Mill
                    </span>
                    <img class="product-card__img product-card__img--offer" src="images/products/almonds.jpg"
                        width="378" height="387" alt="Broccoli image">
                    <h3 class="product-card__title">Organic Almonds</h3>
                    <div class="product-card__container">
                        <div class="product-card__price-box product-card__price-box--offer">
                            <span class="product-card__price product-card__price--disabled">$ 21.00 USD</span>
                            <span class="product-card__price product-card__price">$ 18.00 USD</span>
                        </div>
                        <div class="product-card__rating" data-rateyo-rating="5"></div>
                    </div>
                </a>
            </article>
            <article class="product-card product-card--offer">
                <a class="product-card__link" href="#">
                    <span class="product-card__category">
                        Vegetable
                    </span>
                    <img class="product-card__img product-card__img--offer" src="images/products/corn.jpg" width="378"
                        height="387" alt="Broccoli image">
                    <h3 class="product-card__title">Fresh Corn</h3>
                    <div class="product-card__container">
                        <div class="product-card__price-box product-card__price-box--offer">
                            <span class="product-card__price product-card__price--disabled">$ 21.23 USD</span>
                            <span class="product-card__price product-card__price">$ 18.00 USD</span>
                        </div>
                        <div class="product-card__rating" data-rateyo-rating="5"></div>
                    </div>
                </a>
            </article>
        </div>
    </div>
</section>