<section class="promo">
    <div class="container">
        <h2 class="sr-only">We offer</h2>
        <ul class="promo__wrapper">
            <li class="promo__item">
                <a class="promo-card" href="#" style="background-image:url('images/promo-natural.jpg')">
                    <h3 class="title promo-card__title">Natural!!</h3>
                    <p class="promo-card__text promo-card__text--white">Get Garden Fresh Fruits</p>
                </a>
            </li>
            <li class="promo__item">
                <a class="promo-card" href="#" style="background-image:url('images/promo-offer.jpg')">
                    <h3 class="title">Offer!!</h3>
                    <p class="promo-card__text">Get 10% off on Vegetables</p>
                </a>
            </li>
        </ul>
    </div>
</section>